---
layout: archive
title: "News"
permalink: /news/
author_profile: true
---

{% include base_path %}

<h2><a href="https://www.cs.stonybrook.edu/about-us/News/leveling-ta-training-builds-strong-foundation-and-diversity-awareness" target="_blank">TA training builds a strong foundation and diversity awareness</a></h2>


<h2><a href="https://www.cs.stonybrook.edu/about-us/News/no-tricks-just-treats-graduate-research-day-%E2%80%9822" target="_blank">No Tricks, Just Treats at Graduate Research Day ‘22</a></h2> 


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

